@import "/src/style/helpers/mixin";

.about {
  &__title {
    height: 40%;
  }

  &__introduce {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    .img-wrapper {
      max-width: 500px;
      margin: 0 auto;
    }

    .introduce {
      max-width: 560px;

      &__text {
        word-break: keep-all;
        font-size: 1.6rem;
        line-height: 1.6;
      }

      &__resume {
        margin-top: 40px;

        .resume-link {
          padding: 15px 45px;
          border: 1px solid #4a4a4a;
          border-radius: 5px;
          font-size: 1.6rem;

          &:hover {
            border-color: #fa8072;
            color: #fa8072;
          }
        }
      }
    }
  }
}
