@import "/src/style/helpers/mixin";

.about {
  &__title {
    height: 50%;
  }

  &__introduce {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    .introduce {
      max-width: 560px;
      word-break: keep-all;
      font-size: 1.6rem;
      line-height: 1.6;
    }

    .img-wrapper {
      max-width: 500px;
      margin: auto;
    }
  }
}
