<section class="about">
  <div class="about__title">
    <div class="title">
      <h1 class="title__main">about</h1>
    </div>
  </div>
  <div class="about__introduce">
    <p class="introduce">
      반갑습니다. 5년차 웹퍼블려 윤희영입니다.<br />
      저는 작업하면서 사용성과 효율성, 직관성을 생각하며 마크업을 개발하며,
      component 단위의 마크업과 재사용을 가능하게 생각하고 일합니다. 12개의
      프로젝트를 진행하며 공통적으로 사용하는 요소들은 모듈화하여 작업 시간을
      단축합니다. 혼자하는 일이 아니기 때문에 코드만 봐도 최대한 파악할 수
      있도록 직관성있게 하려고 노력합니다. 퍼블리셔는 디자이너와 개발자 사이에서
      최대한 디자인을 똑같이 반영하고자 노력하며, 개발할 수 없는 부분에 대하여
      소통하고 예기합니다. 디자이너를 잘 이해하고자 디자인툴을 직접 사용해보고,
      이를 사용하여 기획한 기능을 직접 만들어보기도 했습니다. 또 프론트 개발자와
      협업에 있어 사용하는 프레임워크에 대해 이해하고 프레임워크에서 제공하는
      기능을 최대한 활용합니다.
    </p>

    <div class="img-wrapper">
      <img
        src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
        alt=""
      />
    </div>
  </div>
</section>
