@import "/src/style/helpers/mixin";

.projects {
  &__title {
    height: 50%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .project {
      &__title {
        font-size: 18px;
      }

      &__detail {
      }

      &__link {
        .link {
          .ic-forward-arrow {
            width: 10px;
          }
        }
      }
    }
  }
}
