@import "/src/style/helpers/mixin";

.projects {
  &__title {
    height: 50%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 10px;

    .project {
      width: 70%;
      margin: auto;

      &__title {
        font-size: 1.8rem;
      }

      &__detail {
        margin-top: 20px;
      }

      &__link {
        display: flex;
        flex-direction: column;

        .link {
          font-size: 1.4rem;

          .ic-forward-arrow {
            width: 10px;
          }
        }
      }
    }
  }
}
