<section class="projects" id="projects">
  <div class="projects__title">
    <div class="title">
      <h1 class="title__main">projects</h1>
    </div>
  </div>
  <div class="projects__list">
    <swiper
      [slidesPerView]="1"
      [spaceBetween]="50"
      [navigation]="true"
      [pagination]="{ clickable: true }"
      [controller]="{ control: controlledSwiper }"
    >
      <ng-template swiperSlide *ngFor="let project of projectList; index as i">
        <div class="project">
          <div class="project__img {{ project.type }}">
            <img
              src="assets/imgs/projects/img-project-{{ i }}.png"
              alt="image {{ project.name }}"
            />
          </div>
          <div class="project__detail">
            <h2 class="project__title">{{ project.title }}</h2>
            <p class="project__introduce">{{ project.introduce }}</p>
            <div class="project__link">
              <a href="{{ project.Detailurl }} " target="_blank"
                ><span class="link notion"
                  >작업 내용 자세히 보기
                  <span class="ic-forward-arrow"></span></span
              ></a>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
  <!-- <div class="projects__list">
    <div class="project" *ngFor="let project of projectList">
      <div class="project__title">{{ project.title }}</div>
      <div class="project__detail">
        <p class="project__introduce">{{ project.introduce }}</p>
        <div class="project__link">
          <a href="{{ project.Detailurl }} " target="_blank"
            ><span class="link notion"
              >작업 내용 자세히 보기
              <img
                src="assets/icon/arrow-forward-outline.svg"
                alt="forward arrow icon"
                class="ic-forward-arrow" /></span
          ></a>
        </div>
      </div>
    </div>
  </div> -->
</section>
