@import "/src/style/helpers/mixin";
@import "src/style/helpers/variables";
@import "src/style/helpers/mediaQuery";

html,
body {
  font-family: $f-noto;
}

.scroll-container {
  height: 100vh;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;

  @include res--mobile {
    scroll-snap-type: unset;
  }

  .home,
  .about,
  .projects {
    position: relative;
    height: 100vh;
    min-height: 700px;
    max-height: 990px;
    padding: 0 40px;
    scroll-snap-align: start;
    background-color: #fff;

    @include res--mobile {
      height: auto;
      max-height: unset;
    }

    &__title {
      @include flex(center, center);
      height: 100%;

      @include res--tablet {
        height: 30%;
      }
    }

    .title {
      &__main {
        text-align: center;
        font-family: "League Spartan", sans-serif;
        font-size: 16rem;
        color: #efedeb;

        @include res--mobile {
          font-size: 10rem;
        }
      }

      &__sub {
        position: relative;
        font-family: "Song Myung", serif;
        font-size: 3.6rem;
        text-align: center;
        line-height: 1.6;
        z-index: 5;

        @include res--mobile {
          font-size: 3rem;
        }
      }
    }
  }
}
