@mixin flex($a: center, $j: center) {
  display: flex;
  align-items: $a;
  justify-content: $j;
}

@mixin absoluteCenter() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin background($position, $size) {
  background-position: $position;
  background-size: $size;
}
