@import "src/style/helpers/mixin";
@import "src/style/helpers/variables";

.home {
  &__intro {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 40px;

    .text {
      font-family: $f-noto;
      font-size: 16px;
    }
  }
}
