@import "src/style/helpers/mixin";
@import "src/style/helpers/variables";

.home {
  position: relative;
  height: 100vh;
  min-height: 700px;
  max-height: 990px;

  &__title {
    @include mid(center, center);
    height: 100%;

    .title {
      position: relative;

      &__main {
        font-family: "League Spartan", sans-serif;
        font-size: 180px;
        color: #efedeb;
      }

      &__sub {
        @include absoluteCenter();
        top: -40px;
        font-family: "Song Myung", serif;
        font-size: 40px;
        text-align: center;
        line-height: 1.4;
      }
    }
  }

  &__intro {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 40px;

    .text {
      font-family: $f-noto;
      font-size: 16px;
    }
  }
}
